.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task-container {
  width: 400px;
  padding: 20px;
  background-color: #889a00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  margin-bottom: 15px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #2980b9;
}

.tasks-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
